<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height:100%;">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Birthday Quest</title>
    </head>
    <body style="height:100%;">

        <div class="view" style="background-image: url('https://previews.123rf.com/images/litvinovaelena86/litvinovaelena861801/litvinovaelena86180100448/94301530-seamless-pattern-with-hand-drawn-watercolor-gifts-with-bow-christmas-background-party-or-birthday-de.jpg');
             height: 100%;background-repeat: repeat;background-size: cover;background-position: center center;">
            <div class="container" style="position: fixed;
                 top: 50%;margin-left:200px;margin-top: -100px;">
                <div class="jumbotron" style="background-color:#FFB300;">
                    <h1>Birthday Quest</h1>
                    <h4>Om er achter te komen wat jouw cadeau is moet jij verschillende opdrachten uitvoeren.
                        Uiteindelijk zul je een code krijgen waarmee je toegang krijgt tot je cadeau.
                        Je eerste hint is:
                        Vind het moordwapen dat wij gebruikt hebben om een gezinslid om te brengen.</h4>
                    <form action="#" th:action="@{/trycode}" th:object="${quest}" method="post">
                        <div class="form-group">
                            <input  th:field="*{code}" type="text" class="form-control" placeholder="Vul hier de geheime code in.">
                        </div>
                        <!--<button type="submit" class="btn btn-warning">Verstuur</button>-->
                    </form>
                    <div th:if="${message}!=null" id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong th:text="${message}"></strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div> 
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                window.setTimeout(function () {
                    $("#alert").alert('close');
                }, 2000);
            });
        </script>
    </body>
</html>
